[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MindfulClock
GenericName=
Comment=Turn your device into a Bell of Mindfulness.
Categories=Utility;
Keywords=Spirituality;Clock;
Exec=mfc1deb
Icon=clock-icon-512x512.png
Terminal=false
Type=Application
StartupNotify=false
Name[de]=MindfulClock
GenericName[de]=
Comment[de]=Verwandeln Sie Ihr Gerät in eine Glocke der Achtsamkeit.

